<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .URL }}">
                {{with .Params.image}}
                    <img class="img-fluid" src="{{ . | urlize | relURL }}" alt="A thumbnail image">
                {{end}}                
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .URL }}">{{ .Title }}</a></h2>
            <h4 class="card-text">{{ .Params.Summary }}</h4>            
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                
                    <span class="meta-footer-thumb">
                    <img class="author-thumb" src="{{ .Params.Thumbnail | urlize | relURL  }}" alt="{{ .Params.Thumbnail }}">
                    </span>                
                    <span class="author-meta">
                    <span class="post-name">{{ .Params.AuthorName}}</a></span><br/>
               
                <span class="post-date">{{ dateFormat "Jan 5, 2006" .PublishDate }} - {{ .Params.ReadingTime }} min read </span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
